<div class="">
  <hr>
  <div class="row text-center">
    <h1 class="col-sm h4 mb-1 font-weight-light">
      Update <%= @child.name %>'s details</h1>
  </div>
  <hr>
  <%= render 'form' %>
  <%= form_tag user_child_path(@child.id), method: "delete" do %>
  <%= submit_tag "Remove child" %>
<% end %>

</div>
