<h1><%= @schools.name %></h1>
  <ul>
    <%@schools.users.each do |childminder|%>
      <li><%= link_to childminder.name, [@school, childminder]  %></li>
    <% end %>
  </ul>
<%= # Shows all the childminders for that school and has a great search function -  search by date and name %>
