<nav class="">
        <div class="nav-button">
            <a href="#"> View Profile </a>
        </div>
        <div class="nav-button">
            <a href="#"> Add Booking </a>
        </div>
        <div class="nav-button">
            <a href="#"> Create Availabilty </a>
        </div>
        <div class="nav-button">
            <a href="#"> Login </a>
            <a href="#"> Logout </a>
        </div>
</nav>
