<h1> Your Booking </h1>


<%= @booking.availability %>

<%= "TURN THIS INTO A FORM" %>
<%= link_to "Delete Booking", edit_user_session_booking_path(current_user.id) %><br>
<%= link_to "Go Back", "/users/#{current_user.id}/session_bookings" %>
